@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
    font-family: nunito;
    width: 100%;
}

/* ========== Navbar ========== */
.navbar {
    margin-top: 10px;
}
.navbar-brand {
    background-color: #F2F6FF;
    padding: 0 12px 12px 12px;
    border-radius: 100%;
}
.navbar-brand img {
    margin-top: 10px;
}
.navbar-nav {
    margin: auto;
}
.nav-item a {
    margin-left: 20px;
    color: #234CAD;
    font-weight: 400;
}
.btn-nav {
    border-radius: 30px;
    padding: 5px 20px;
    margin-left: 10px;
    color: #234CAD;
    font-weight: 700;
}
.btn-nav.btn-signin {
    border: 2px solid #234CAD;
    background-color: transparent;
}
.btn-nav.btn-signup {
    background-color: #F2F6FF;
    border: none;
}

input#username, input#password {
    padding: 5px 50px 5px 15px;
    margin: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
}

/* ========== BANNER ============= */
.banner {
    margin-top: 4em;
    border-radius: 50px;
    height: 61vh;
    background-color: #F2F6FF;
}
.left-side, .right-side {
    padding: 4em;
}
.left-side h1, .left-side p {
    color: #234CAD;
    margin-bottom: 0.5em;
}
.left-side button {
    background-color: transparent;
    color: #234CAD;
    font-weight: 700;
    border: 2px solid #234CAD;
    border-radius: 30px;
    margin-top: 1em;
    padding: 0.5em 1em;
}
.right-side {
    height: 64vh;
    padding-left: 13.5em;
    margin-top: -5em;
}
.col-12, .col-6 {
    margin-bottom: 0.9em;
}
.card {
    border: none;
}
.card-small {
    height: 4.6em;
    width: 4.5em;
    border-radius: 20px;
    margin-left: -0.5em;
}
.icon-kecil {
    margin: auto;
    font-size: 2em;
    padding: 0.5em;
    color: #234CAD;
}
.icon-card{
    border-radius: 35px;
    font-size: 1.13em;
    font-weight: 700;
    padding: 14px;
    background-color: #F2F6FF;
}
.uploading .icon-border {
    width: 2.2vw;
    z-index: 1;
    margin-left: 1.5em;
    margin-top: -6em;
}
.uploading .icon-card{
    margin-top: 1em;
    margin-bottom: -0.5em;
    font-size: 1.5em;
}
.card-cloud .icon-border {
    margin-top: -6.5em;
}
.card-main {
    background-color: white;
    color: #234CAD;
    width: 120%;
    border-radius: 20px;
}
.ket-card {
    padding: 1.2em 0 0.5em 0.5em;
}
.team-meeting{
    background-color: white;
    border-radius: 20px;
    width: 95%;
    margin-left: -12px;
}
.card-main.meeting{
    margin: 0;
    width: 100%;
}
.meeting .icon-card{
    background-color: transparent;
    border: 2px solid #234CAD;
}
.item-person{
    background-color: #F2F6FF;
    border: 3px solid white;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    margin-left: -12px;
    color: #234CAD;
    font-weight: 700;
    font-size: 13px;
}
.card-cloud .icon-cloud {
    font-size: 28px;
    padding: 18px;
    border-radius: 30px;
    background-color: #F2F6FF;
    color: #234CAD;
}
.card-cloud p {
    font-size: 12px;
    color: #234CAD;
}
.card-cloud {
    background-color: white;
    width: 125px;
    height: 160px;
    padding: 30px 0;
    border-radius: 20px;
    margin-top: -4.6em;
    margin-left: 5em;
    /* position: absolute; */
    /* top: 155px;
    right: 260px; */
}
.card-main.ab {
    margin-left: -20px;

}
.ket-card p {
    font-size: 12px;
}
.ket-card .time {
    /* position: absolute; */
    font-size: 10px;
}
.ab.card-main .time {
    width: 23%;
    font-size: 0.7em;
    margin-top: -6em;
    margin-left: 24em;
}
.js.card-main .time {
    width: 24%;
    font-size: 0.65em;
    margin-top: -6.5em;
    margin-left: 25em;
}
.ab .icon-card, .js .icon-card{
    width: 90%;
    text-align: center;
    margin-left: 0.6em;
    margin-bottom: -3em;
}
.card-main .icon {
    margin-bottom: 2.3em;
}
.card-main .notif{
    font-size: 8px;
    /* position: absolute; */
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 3px solid white;
    padding-left: 5px;
    padding-top: 2px;
    background-color: #234CAD;
    color: white;
    z-index: 1;
}
.card-main.ab .notif{
    margin-top: -5em;
    margin-left: 6.5em;
}
.card-main.js .notif{
    margin-top: -2.5em;
    margin-left: 6.2em;
}
.card-main.ms {
    margin-top: -50px;
    margin-left: 90px;
}
.ms .icon-card {
    font-size: 1.6em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    margin: 0 -10px 0 10px;
}
.card-small.chat {
    margin-left: 23em;
    margin-top: -2.5em;
}

/* EXTRA INFO */
.extra-info .card-main {
    margin-top: 30px;
    width: 40%;
}
.extra-info .icon-card {
    font-size: 40px;
    margin-left: 20px;
}
.extra-info .ket-card {
    margin-left: -25px;
}
.extra-info .ket-card h6 {
    font-size: 25px;
}
.extra-info .ket-card p {
    font-size: 18px;
}

/* Product features*/
.section-2{
    margin: 100px 213px 100px 213px;
}

.box-2{
    height: 575px;
    width: 575px;
    background-color: #F2F6FF;
    border-radius: 60px;
    padding: 108px 0px 108px 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.box-2 .chat-1{
    width: 438px;
    height: 125px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.middle{
    /* text-align: center; */
    align-items: center;
    /* justify-content: center; */
    /* vertical-align: middle; */
    /* border: 1px solid red; */
}

.center-vertical{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.time-small{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #234CAD;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-align: left;
}

.box-2 .chat-2{
    width: 350px;
    height: 100px;
    background: #f9fafe;
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 20px;
}

.box-2 .chat-3{
    width: 262px;
    height: 75px;
    background: #f9fafe;
    border-radius: 15px;
    padding: 15px;
}

.section-2-right{
    width: 350px;
    margin: 100px 0px 100px 40px;
}

.section-2-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #234CAD;
    text-align: left;
}

.section-2-name-sub{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #234CAD;
    text-align: left;
}

.section-2-title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #234CAD;
    margin-bottom: 25px;
}

.section-2-subtitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #234CAD;
    margin-bottom: 50px;
}

.btn {
    width: 200px;
    height: 65px;
    border: 2px solid #234CAD;
    border-radius: 32.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #234CAD;
    transition: all 0.5s ease;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    background-color: none;
    cursor: pointer;
}

.btn:hover{
    background-color: #234CAD;
    color: white;
}

.title p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #234CAD;
}

.rounded-circle{
    border-radius:50%;
    background-color: #F2F6FF;
    width: 70px;
    height: 70px;
    line-height: 68px;
    color: #234CAD;
}

.h-1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.status-indicator{
    background-color:#eaecf4;
    height:.75rem;width:.75rem;
    border-radius:100%;
    position:absolute;
    bottom:0;
    right:0;
    border:.125rem solid #fff
}

.dropdown-list-image{
    position:relative;
    height:2.5rem;
    width:2.5rem
}

.topbar .dropdown-list .dropdown-item .dropdown-list-image img{
    height:2.5rem;
    width:2.5rem;
}

.chat-2 .rounded-circle{
    border-radius:50%;
    background-color: #F2F6FF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #234CAD;
}


.chat-2 .h-1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.chat-2 .section-2-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #234CAD;
    text-align: left;
}

.chat-2 .section-2-name-sub{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #234CAD;
    text-align: left;
}

.chat-2 .time-small{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #234CAD;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-align: left;
}

.chat-3 .rounded-circle{
    border-radius:50%;
    background-color: #F2F6FF;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #234CAD;
}


.chat-3 .h-1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
}

.chat-3 .section-2-name{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #234CAD;
    text-align: left;
}

.chat-3 .section-2-name-sub{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    color: #234CAD;
    text-align: left;
}

.chat-3 .time-small{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 7px;
    color: #234CAD;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-align: left;
}

.section-2-transform{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #234CAD;
    margin-bottom: 25px;
    text-align: center;
}

.section-2-transform-sub{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #234CAD;
    margin-bottom: 25px;
    text-align: center;
}

.features-2{
    width: 1240px;
    height: 575px;
    background-color:#F2F6FF;
    border-radius: 60px;
    padding: 50px;
}

.features-2 .icon{
    width: 75px;
    height: 75px;
    color: #234CAD;
    padding: 15px;
    font-size: 30px;
    border-radius: 20px;
    background-color: white;
    margin: 25px;
    text-align: center;
}

.features-2 .chat-1{
    width: 438px;
    height: 125px;
    background: #FFFFFF;
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.features-2 .sales-meeting{
    width: 276px;
    height: 160px;
    border-radius: 25px;
    background: #FFFFFF;
    margin: 25px;
    box-shadow: 2px 8px 15px #e3ecff;
}

.sales-meeting.rounded-circle{
    border-radius:50%;
    background-color: #FFFFFF;
    width: 60px;
    height: 60px;
    line-height: 58px;
    color: #234CAD;
    border: 2px solid #234CAD;
    font-size: 22px;
    text-align: center;
    box-shadow: none;
}

.sales-meeting h1{
    font-size: 16px;
    color: #234CAD;
    font-weight: 700;
    font-family: 'Nunito';
    line-height: 21px;
    margin-bottom: -20px;
    box-shadow: none;
}

.sales-meeting h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #234CAD;
    box-shadow: none;
}

.sales-meeting .col.row.name{
    margin-top: 30px;
    margin-left: 3px;
}

.sales-meeting.rounded-circle2left{
    border-radius:50%;
    background-color: #F2F6FF;
    width: 40px;
    height: 40px;
    line-height: 48px;
    color: #234CAD;
    border: 2px solid #ffffff;
    font-size: 16px;
    margin-top: -10px;
    box-shadow: none;
}

.sales-meeting.rounded-circle2{
    border-radius:50%;
    background-color: #F2F6FF;
    width: 40px;
    height: 40px;
    line-height: 48px;
    color: #234CAD;
    border: 2px solid #ffffff;
    font-size: 16px;
    margin-top: -10px;
    margin-left: -30px;
    box-shadow: none;
}

.sales-meeting.rounded-circle2left h2, .sales-meeting.rounded-circle2 h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 36px;
    color: #234CAD;
}

.features-2 .upload-doc{
    width: 350px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 25px;
}


.upload-doc .rounded-circle{
    border-radius:50%;
    background-color: #F2F6FF;
    width: 55px;
    height: 55px;
    line-height: 50px;
    color: #234CAD;
    border: 2px solid #234CAD;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

.upload-doc h1{
    font-size: 16px;
    color: #234CAD;
    font-weight: 700;
    font-family: 'Nunito';
    line-height: 21px;
    margin-top: 25px;
    margin-left: -20px;
}

.upload-doc h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #234CAD;
    margin-left: -20px;
}

.features-2 .cloud{
    width: 130px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 0px 0px 0px 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    /* border: #234CAD 2px solid; */
    box-shadow: 2px 5px 15px #f3f2fe;
}

.cloud .rounded-circle{
    border-radius:50%;
    background-color: #F2F6FF;
    width: 55px;
    height: 55px;
    line-height: 50px;
    color: #234CAD;
    border: 2px solid #234CAD;
    font-size: 20px;
    /* margin: 30px 50px 20px 50px ; */
    margin: 25px auto;
}

.cloud h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #234CAD;
    text-align: center;
    /* margin-left: 47px; */
    margin: 2px auto;
}

/* End product features*/

/* About */

.about {
    margin-top: 130px;
    background-color: white;
}

.left-section, .right-section {
    padding: 60px;
    margin: 0 110px;
}

.left-section h1, .left-section p {
    color: #234CAD;
    margin-bottom: 0;
    margin-top: 15px;
}

.left-section button {
    background-color: transparent;
    color: #234CAD;
    font-weight: 700;
    border: 2px solid #234CAD;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 30px;
}

.right-section {
   background-color: #F2F6FF; 
   border-radius: 60px;
   height: 500px;
   width: 500px;
   margin-left: 0px;
   overflow: hidden;
}

.item-right-section {
    margin-top: 50px;
    margin-right: -150px;
    margin-left: 15px;
   
}

.style-opacity {
 opacity: .7;
}

.detail-card {
    color: #234CAD;

}

.detail-card p {
    font-size: 12px;
}

.card-utama {
    background-color: white;
    border-radius: 25px;
    width: 240px;
    padding: 15px 0 0 10px;
}

.card-utama .kartu-icon {
    border: 2px solid #234CAD;
    border-radius: 35px;
    color: #234CAD;
    padding: 15px;
}

.item-day{
    background-color: #F2F6FF;
    border: 3px solid white;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    margin-left: -12px;
    color: #234CAD;
    font-weight: 700;
    font-size: 13px;
}

/* End About */

/* Pricing */

.title-pricing {
    color: #234CAD;
    margin-top: 120px;
    text-align: center;
}

.title-pricing p {
    width: 30%;
    margin: auto;
    margin-top: 25px;
}

.content-pricing .item-card {
    margin-top: 75px;
    background-color:#F2F6FF;
    border: none;
    border-radius: 40px;
    width: 250px;
    height: 280px;
}

.content-pricing .item-card-2 {
    margin-top: 75px;
    border: 3px solid #234CAD;
    border-radius: 40px;
    width: 250px;
    height: 280px;
}

.content-pricing .card-title {
    color: #234CAD;
    font-size: 20px;
    margin-top: 20px;
}

.content-pricing .card-text {
    color: #234CAD;
    font-size: 35px;
    margin-bottom: -5px;
}

.content-pricing .item-card .card-text2 {
    color: #234CAD;
    font-size: 15px;
    margin-bottom: 50px;
}

.content-pricing .item-card-2 .card-text2 {
    color: #234CAD;
    font-size: 15px;
    margin-bottom: 50px;
}

.card-body .btn-LearnMore {
    background-color: white;
    color: #234CAD;
    font-weight: 700;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
}

.card-body .btn-GetStarted {
    text-decoration: none;
    color: #234CAD;
    font-weight: 700;
    border: 3px solid #234CAD;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 0px;
}

/* End Pricing */

/* FOOTER */
footer {
    height: 650px;
}

.footer-email {
    margin-top: 120px;
    border-radius: 50px;
    height: 365px;
    padding: 80px;
    background-color: #F2F6FF;
    text-align: center;
    position: relative;
    color: #234CAD;
}

.footer-email h1 {
    font-weight: 700;
    margin-bottom: -5px;
}

.footer-email p {
   margin: 25px auto;
   width: 30%;
}
.footer-email input {
    width: 38%;
    height: 47px;
    border: 1px;
    border-radius: 12px;
    padding-left: 15px ;
}

.footer-email button {
    position: absolute;
    border-radius: 10px;
    background-color: #234CAD;
    padding: 9px 10px 4px 10px;
    bottom: 102px;
    right: 440px;
    color: white;
    border: none;
}

.footer-info {
    margin-top: 120px;
    color: #234CAD;
    width: 80%;
    margin: 120px auto;
}

.footer-info .copyright {
    width: 85%;
    line-height: 23px;
}

.footer-info p {
    line-height: 15px;
}

.footer-info h5 {
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-info .col-3 {
    padding-left: 90px;
}

/* END FOOTER */

@media (max-width: 1400px) {
    .right-side {
        height: 64vh;
        padding-left: 5em;
        margin-top: -7.5em;
    }
    .container {
        width: 89%;
    }
    .banner{
        height: 68vh;
    }
    .card-small.chat {
        margin-left: 22.5em;
    }
    .card-main {
        width: 110%;
    }
    .icon-card{
        font-size: 1.6em;
    }
    .ab.card-main .time {
        margin-left: 23em;
    }
    .js.card-main .time {
        margin-left: 24em;
    }
    .ab .icon-card, .js .icon-card{
        width: 100%;
        font-size: 1.2em;
    }
    .ms .icon-card {
        width: 100%;
    }

    /* EXTRA INFO */
    .extra-info .card-main {
        margin-top: 3em;
        width: 50%;
    }
    .extra-info .icon-card {
        font-size: 2em;
        margin-left: 1em;
    }
    .extra-info .ket-card h6 {
        font-size: 1.5em;
    }
    .extra-info .ket-card p {
        font-size: 1em;
    }

    /* PRODUCT FEATURES */
    .section-2-right .section-2-title {
        font-size: 2em;
        line-height: 1.3em;
    }
    .section-2-right .section-2-subtitle {
        font-size: 1em;
        width: 120%;
    }

    /* ABOUT */
    
    .left-section, .right-section {
        padding: 50px;
        margin: 0 60px;
    }

    .left-section {
        margin-left: -60px;
    }

    .right-section {
        margin-right: -80px;
    }
    
    .left-section h1, .left-section p {
        width: 120%;
        
    }
    .left-section h1{
        font-size: 2.5em;
    }
    .left-section p{
        font-size: 1em;
    }
    
    .left-section button {
        font-size: 1em;
    }
    
    /* FOOTER */
    .footer-email button {
        right: 24em;
    }
}

@media (max-width: 1270px) {
    /* BANNER */
    .js.card-main .time {
        margin-left: 22em;
    }
    .ab.card-main .time {
        margin-left: 21em;
    }

    /* FOOTER */
    .footer-email p {
       width: 35%;
    }
    .footer-email input {
        width: 45%;
    }
    
    .footer-email button {
        right: 21.7em;
        bottom: 6.4em;
    }
    
}

@media (max-width: 1200px) {
    /* NAVBAR */
    .nav-item a {
        font-size: 0.8em;
    }
    .btn {
        font-size: 0.8em;
    }
    
    /* BANNER */
    .container {
        width: 85%;
    }
    .banner {
        height: 53vh;
        margin-top: 2em;
    }
    .left-side h1 {
        font-size: 1.9em;
    }
    .left-side p {
        font-size: 0.8em;
        width: 120%;
    }
    .left-side button {
        font-size: 0.8em;
    }
    .right-side {
        padding-left: 6.5em;
        margin-top: -3.5em;
    }
    .col-12, .col-6 {
        font-size: 0.7em;
    }
    .card-small {
        border-radius: 15px;
    }
    .icon-card{
        font-size: 1.2em;
    }
    .meeting .icon-card {
        padding: 0.8em;
    }
    .card-main {
        width: 130%;
    }
    .ket-card {
        padding-left: 2em;
    }
    .ket-card h6{
        font-size: 1em;
    }
    .ket-card p {
        font-size: 0.8em;
    }
    .team-meeting{
        width: 95%;
    }
    .item-person{
        font-size: 0.8em;
        width: 4em;
        height: 4em;
        padding: 1em;
    }
    .card-cloud .icon-cloud {
        font-size: 2em;
        padding: 0.7em;
    }
    .card-cloud p {
        font-size: 0.9em;
        margin-top: 1em;
    }
    .card-cloud {
        background-color: white;
        width: 9em;
        height: 11em;
        padding: 1.6em;
        margin-left: 4em;
    }
    .card-main.ab {
        margin-left: -2em;
    
    }
    .ab.card-main .time {
        width: 25%;
        font-size: 0.7em;
        margin-top: -7em;
        margin-left: 24em;
    }
    .js.card-main .time {
        width: 25%;
        font-size: 0.65em;
        margin-top: -7.5em;
        margin-left: 25em;
    }
    .ab .icon-card, .js .icon-card{
        width: 130%;
        text-align: center;
        margin-left: 0.6em;
        margin-bottom: -3em;
    }
    .card-main.ab .notif{
        margin-top: -6em;
        margin-left: 5em;
    }
    .card-main.js .notif{
        margin-top: -6em;
        margin-left: 5em;
    }
    .card-main.ms {
        width: 135%;
        margin-top: -4em;
        margin-left: 4em;
    }
    .ms .icon-card {
        padding-top: 0.7em;
        padding-bottom: 0.3em;
    }
    .card-small.chat {
        margin-left: 23em;
        margin-top: -2.5em;
    }

    /* EXTRA INFO */
    .extra-info .card-main {
        width: 50%;
    }
    .extra-info .icon-card {
        font-size: 1.8em;
        margin-left: 0.5em;
    }
    .extra-info .ket-card h6 {
        font-size: 1em;
    }
    .extra-info .ket-card p {
        font-size: 0.8em;
    }

    /* ABOUT */
    
    .left-section, .right-section {
        padding: 50px;
        margin: 0 60px;
    }

    .left-section {
        margin-left: -60px;
    }

    .right-section {
        margin-right: -80px;
    }
    
    .left-section h1, .left-section p {
        width: 150%;
        
    }
    .left-section h1{
        font-size: 1.5em;
    }
    .left-section p{
        font-size: 1em;
    }
    
    .left-section button {
        font-size: 0.8em;
    }

    /* FOOTER */
    .footer-email {
        height: 50vh;
    }
    
    .footer-email h1 {
        font-size: 2em;
    }
    
    .footer-email p {
       width: 50%;
    }
    
    .footer-email button {
        right: 18.7em;
        bottom: 6.2em;
    }
    

}