@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body{
  font-family: 'Quicksand', sans-serif;
  background-image: url(img/bg.png);
  background-size: cover;
  color: #092C4C;
}

span {
  color: #d33003;
}

input.input-keyword {
  padding: 10px 40px;
  width: 50%;
  border-radius: 50px;
  box-shadow: inset 5px 5px 18px #cbced1;
  border: none;
  margin: 10px auto;
  font-size: 14px;
}

.btn {
  padding: 8px 30px;
  border: none;
  border-radius: 30px;
  background: #092C4C;
  font-size: 14px;
  transition-duration: 0.5s;
  color: white;
  margin-left: 10px;
}

.btn:hover {
  color: white;
  background-color: #d33003;
}

.card {
  width: 288px;
  height: 200px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 20px rgba(40, 40, 40, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 20px;
}

.item-weather i {
  font-size: 50px;
  margin: 30px 130px;
  padding-right: 5em;
}

.item-weather i.fa-cloud{
  margin-left: 115px;
}